<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEVinventory</title>
</head>
<body>
    <h1 align="center">DEVinventory 👨‍💻 by DEVinSanes</h1>
    <h3>Software de gestão de inventário de empresas</h3>

    <p>O projeto Back-end desenvolvido durante o Módulo 2, 
       consiste no desenvolvimento de uma API em Python,
       usando Flask com SQLAlchemy</p>

    <h4>Requisitos</h4>
    <ul>
        <li>Utilizar Python</li>
        <li>Utilizar Flask com SQLAlchemy</li>
        <li>Utilizar banco de dados PostgreSQL para armazenar os dados</li>
        <li>Utilizar conceito de Migrations</li>
        <li>Utilizar GitHub para armazenamento do código</li>
        <li>Utilizar Trello para organização do projeto</li>
        <li>Utilizar conceitos de squads, Kanban e Scrum</li>
        <li>Utilizar conhecimentos em SQL</li>
    </ul>

    <h4>Pré requisitos ambiente</h4>

    <p>Instruções sobre instalação do Python no Windows:</p>
    <a href="https://python.org.br/instalacao-windows/" target="_blank">Instalando o Python 3 no Windows</a>

    <p>Instalar o Poetry através do comando abaixo via cmd do Windows:</p>
    <span>$ curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python</span>


    <h4>Configuração ambiente</h4>
    <ul>
        <li>Executar o comando: <i>poetry config --local virtualenvs.in-project true</i></li>
        <li>Executar o comando: <i>poetry install</i> para instalar as dependencias</li>
        <li>Criar um arquivo .env baseado no arquivo .env_example e colocar os campos necessários.</li>
    </ul>

    <h4>Executar aplicação</h4>
    <span>$ poetry run flask run</span>

    <h4>Endpoints</h4>
    <p style="color:red;">AQUI VAO AS INFOS DOS ENDPOINTS</p>
    <p style="color:red;">AQUI VAO AS INFOS DOS ENDPOINTS</p>
    <p style="color:red;">AQUI VAO AS INFOS DOS ENDPOINTS</p>


    <h4>Time DEVinSanes</h4>
    <p>Somos os DEVinSanes, desenvolvedores insanos do sistema DEVinventory.</p>

    <h4>Redes Sociais</h4>

    <ul>
        <li><a href="https://www.linkedin.com/in/adriano-matos-meier/" target="_blank"><i>Adriano Matos Meier</i></a></li>
        <li><a href="https://www.linkedin.com/in/bruno-v-bedretchuk-b0ab3122a/" target="_blank"><i>Bruno Vinicius Bedretchuk</i></a></li>
        <li><a href="https://www.linkedin.com/in/edumrib/" target="_blank"><i>Eduardo Martins Ribeiro</i></a></li>
        <li><a href="https://www.linkedin.com/in/julia-m-9abba9110/" target="_blank"><i>Julia Moura</i></a></li>
        <li><a href="https://www.linkedin.com/in/kau%C3%A3-kirchner-de-souza-4b8327219/" target="_blank"><i>Kauã Kirchner de Souza</i></a></li>
        <li><a href="https://www.linkedin.com/in/mayconrcampos/" target="_blank"><i>Maycon Campos</i></a></li>
        <li><a href="https://www.linkedin.com/in/wellyngton-caetano-dos-santos/" target="_blank"><i>Wellyngton Santos</i></a></li>
    </ul>

    <h4>Links úteis</h4>

    <ul>
        <li><a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank">Flask</a></li>
        <li><a href="https://python-poetry.org/docs/" target="_blank">Poetry</a></li>
    </ul>

    <h4>Tecnologias utilizadas</h4>

    <p>
        <img width="70px" height="70px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlalchemy/sqlalchemy-original-wordmark.svg" />
        <img width="65px" height="65px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg" />
        <img width="70px" height="70px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
        <img width="65px" height="65px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
        <img width="65px" height="65px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/trello/trello-plain-wordmark.svg" />
        <img width="65px" height="65px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
    </p>

</body>
</html>